<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="errorfile" 
                xsi:type="File" 
                fileName="error.log"
                layout="${level:uppercase=true:padding=5} ${message}"/>

        <target name="outputfile" 
                xsi:type="File" 
                fileName="output.log"
                layout="${level:uppercase=true:padding=5} ${message}"/>

        <target name="warningfile" 
                xsi:type="File" 
                fileName="warning.log"
                layout="${level:uppercase=true:padding=5} ${message}"/>

        <target name="errormemory" 
                xsi:type="Memory" 
                layout="${message}"/>

        <target name="warningmemory" 
                xsi:type="Memory" 
                layout="${message}"/>

    </targets>

    <rules>
        <logger name="*" levels="Debug,Error,Fatal,Info,Trace,Warning" writeTo="outputfile" />
        <logger name="*" levels="Error,Fatal" writeTo="errorfile,errormemory" />
        <logger name="*" levels="Warning" writeTo="warningfile,warningmemory" />
    </rules>
</nlog>
